@{
}

@model Tour

<h2>Confirm Cancellation</h2>
<h3>Are you sure you want to cancel the appointment for @Model.Date?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    @*delete*@
    <button type="submit">Cancel Appointment</button>
    @*redirect*@
    <a asp-controller="Home" asp-action="Appointments" class="btn btn-primary">Nevermind</a>

    <input type="hidden" asp-for="Id" />
</form>